@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9kbqtm');
  src:  url('fonts/icomoon.eot?9kbqtm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9kbqtm') format('truetype'),
    url('fonts/icomoon.woff?9kbqtm') format('woff'),
    url('fonts/icomoon.svg?9kbqtm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Confortline-final-29 .path1:before {
  content: "\e90f";
  color: rgb(255, 255, 255);
}
.icon-Confortline-final-29 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(65, 64, 66);
}
.icon-Confortline-facebook:before {
  content: "\e911";
}
.icon-logo-footer:before {
  content: "\e903";
  color: #fff;
}
.icon-fire:before {
  content: "\e908";
  color: #f7941e;
}
.icon-water:before {
  content: "\e92f";
  color: #04baed;
}
.icon-Confortline_within_house-26-26:before {
  content: "\e900";
  color: #fff;
}
.icon-confortline-logo:before {
  content: "\e931";
  color: #fff;
}
.icon-Confortline-final_ELEMENTOS-04:before {
  content: "\e901";
  color: #fff;
}
.icon-Confortline-final_ELEMENTOS-05:before {
  content: "\e902";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-07 .path1:before {
  content: "\e904";
  color: rgb(238, 118, 27);
}
.icon-Confortline-final_ELEMENTOS-07 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(224, 102, 17);
}
.icon-Confortline-final_ELEMENTOS-07 .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Confortline-final_ELEMENTOS-07 .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Confortline-final_ELEMENTOS-08:before {
  content: "\e928";
  color: #fff;
}
.icon-Confortline-final_ELEMENTOS-09:before {
  content: "\e909";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-10:before {
  content: "\e90a";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-11:before {
  content: "\e90b";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-12:before {
  content: "\e90c";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-13:before {
  content: "\e90d";
  color: #ee761b;
}
.icon-Confortline-final_ELEMENTOS-14:before {
  content: "\e90e";
  color: #fff;
}
.icon-Confortline-final_ELEMENTOS-16 .path1:before {
  content: "\e925";
  color: rgb(243, 146, 0);
}
.icon-Confortline-final_ELEMENTOS-16 .path2:before {
  content: "\e926";
  margin-left: -5.8466796875em;
  color: rgb(45, 184, 236);
}
.icon-Confortline-final_ELEMENTOS-17:before {
  content: "\e927";
  color: #3aaa35;
}
.icon-seleCccin_zocalos-19:before {
  content: "\e929";
  color: #fff;
}
.icon-seleccin_zocalos-21:before {
  content: "\e92b";
  color: #f39200;
}
.icon-seleccin_zocalos-22:before {
  content: "\e92c";
  color: #f39200;
}
.icon-seleccin_zocalos-23 .path1:before {
  content: "\e92d";
  color: rgb(243, 146, 0);
}
.icon-seleccin_zocalos-23 .path2:before {
  content: "\e92e";
  margin-left: -0.7158203125em;
  color: rgb(45, 184, 236);
}
